{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div id="hint">
    <div class="category">
        <h6>{{'application'|upper}}</h6>
    </div>

    <div class="page-header main-font">
        <h1 class="display-1">{{'planter'|title}}</h1>
    </div>

    <div class="details">
        <p>{{'This line of text is meant to be treated as no longer accurate. This line of text is meant to be treated
            as deleted text.'|capitalize}}</p>
    </div>
</div>

<div id="img">
    <div class="img-wrapper">
        <img class="img-fluid" src="{{url_for('static',filename = 'images/Group 19.png')}}" alt="planter">
    </div>
</div>

{% endblock %}
