{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

<body class="full-page main-bg-color">

<div class="content-fluid main-page-size main-nav-space" id="main-navigation" style="height: fit-content">
    <div class="row">
        <div class="col">
            <div class="img-wrapper menu-icons">
                <img class="img-fluid icon" src="{{url_for('static',filename = 'images/drawable-hdpi/Group 1.png')}}"
                     alt="crop foundation">
            </div>
        </div>
        <div class="col col-lg-2">
            <div class="row">
                <div class="col icon-down">
                    <a href="/download" style="text-decoration: none;color: #212529; font-size: 28px">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                <!--                <div class="col icon-menu">-->
                <!--                    <i class="fa-solid fa-bars" style="font-size: 22px;"></i>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>


<div class="content-fluid main-page-size main-space">

    <div id="hint">
        <div class="category main-text-space">
            <h6>{{'application'|upper}}</h6>
        </div>

        <div class="page-header main-font main-text-space">
            <h1 class="display-1">{{'planter'|title}}</h1>
        </div>

        <div class="details main-text-space">
            <p>{{'Inspect your crops with planter by simply taking a photo of your crops to check are those healthy or
                not.
                Get more knowledge about diseases affected to your crops too much more effective disease control, Learn
                effective organic, non-organic disease controlling methods and cultural practices, Without damaging to
                plant
                harvest at the right time and Improve your cultivation knowledge with our cultivation
                tips.'|capitalize}}</p>
        </div>
        <div class="more-bts">
            <a href="/planter" data-splitting=""
               class="btn more-btn scrolla-element-anim-1 words chars splitting"
               style="--word-total:2; --char-total:12;">see details</a>
        </div>
    </div>

    <div id="img">
        <div class="img-wrapper">
            <img class="img-fluid" src="{{url_for('static',filename = 'images/Group 19.png')}}" alt="planter">
        </div>
    </div>
</div>

<div class="content-fluid main-page-size">
    {% block navigator %}{% endblock %}
</div>

</body>

{% endblock %}
